@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-display: swap;
}

:root {
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333333;
  --green: #c4f82a;
  --inter: "Inter", sans-serif;
}

h1 {
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
  box-sizing: border-box;
  line-height: 150%;
}

body {
  font-family: var(--inter);
  background-color: var(--grey-900);
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px;
  box-sizing: border-box;
  gap: 24px;
}

body > div:nth-of-type(1) {
  max-width: 384px;
  padding-inline: 40px;
  padding-block: 20px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  background-color: var(--grey-800);
  position: 40px;
  border-radius: 12px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 384px;
  width: 100%;
  background-color: var(--grey-800);
  border-radius: 12px;
  padding: 40px;
  box-sizing: border-box;
  gap: 24px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-word;
  text-align: center;
  text-wrap: pretty;
}

main > img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: content-box;
}
main > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

main > div:nth-of-type(1) > p {
  color: #c4f82a;
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  line-height: 150%;
}

main > p {
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  line-height: 150%;
}

main > ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

main > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-color: var(--grey-800);
  border-radius: 12px;
  box-sizing: border-box;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-700);
  height: 45px;
  width: 100%;
  text-transform: capitalize;
  border-radius: 8px;
  margin: 0px;
}

li > a {
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  line-height: 150%;
  text-decoration: none;
}

select {
  background-color: var(--grey-700);
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 0px;
  line-height: 150%;
  outline: none;
}
